/***************************************

Utility CSS classes, mainly used within
@extend SASS directives

***************************************/

/*
	Line-placing classes
*/

.new-line {
	display: block;
}

.same-line {
	display: inline-block;
}

.newlines {
	white-space: initial;
}

.no-newlines {
	white-space: nowrap;
}

/*
	Elements-positioning classes
*/

.pull-bottom {
	vertical-align: bottom;
}

.pull-center-h {
	margin-left: auto;
	margin-right: auto;
}

.pull-center-v {
	vertical-align: middle;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.pull-top {
	vertical-align: top;
}

/*
	Grid positioning
*/

.grid {
	display: table;

	> * {
		display: table-row;

		> * {
			display: table-cell;
		}
	}
}

/*
	Flexboxes: only most common configurations
*/

.flex {

	&-row {
		display: flex;
		flex-direction: row;
	}

	&-column {
		display: flex;
		flex-direction: column;
	}

	&-multiple {
		flex-wrap: wrap;
	}

	&-single {
		flex-wrap: nowrap;
	}

	&-center-main {
		justify-content: center;
	}

	&-center-cross {
		align-items: center;
	}

	&-fill-cross {
		align-items: stretch;
	}

	&-full-grow {
		flex-basis: 0px;
	}
}

/*
	Text-positioning classes
*/

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/*
	Text is usually rendered slighlty below
	the middle of the parent element
*/
.text-center-v {
	padding-bottom: 0.5ex;
}

/*
	Font-style classes
*/

.bold {
	font-weight: bolder;
}

.small-caps {
	font-variant: small-caps;
}

.text-small, .small-text {
	font-size: smaller;
}

.text-big, .big-text {
	font-size: larger;
}

.underline {
	text-decoration: underline;
}

/*
	Miscellaneous
*/

/*
	This class is meant for nodes that only
	contain floated elements: since they
	are rendered outside their parent,
	without this class the latter would be
	empty
*/
.pull-parent, .float-parent {
	overflow: auto;
}
