/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2015, 1:16:49 AM
    Author     : maze
*/

@import 'common';

@mixin grid-inner-spacing($spacing) {
	& > * {
		> * {
			padding: $spacing;

			&:first-of-type {
				padding-left: 0;
			}

			&:last-of-type {
				padding-right: 0;
			}
		}

		&:first-of-type > * {
			padding-top: 0;
		}

		&:last-of-type > * {
			padding-bottom: 0;
		}
	}
}

@mixin grid-with-inner-spacing($spacing) {
	@extend .grid;
	@include grid-inner-spacing($spacing);
}
