/***************************************

CSS styles for pageView AngularJS component

***************************************/

@import 'common';

.pager-view {
	@extend .text-center;

	> * {
		margin: auto 0.25em;
		height: 4ex;
	}

	button {
		width: 4em;

		/*
			No clues about why without this
			text is not centered
		*/
		padding: 0;
	}

	select {
		width: 5em;
	}
}
