/***************************************

CSS styles for standard footer by footer.php

***************************************/

@import 'common';
@import 'mixins';

footer {
	@extend .small-text;
	margin-top: 5px;

	h1 {
		@extend .small-text;
		@extend .bold;
		margin-top: 5px;
		margin-bottom: 0;
	}

	/*
		An horizontal list of plain links
		or liked images
	*/
	ul {
		margin-top: 1px;
		margin-bottom: 0;
		list-style-type: none;
		padding: 0;

		> li {
			@extend .same-line;
			@extend .pull-top;
			margin-left: 10px;
		}
	}

	img {
		height: 20px;
	}

	@include links(#000);

	/*
		Both image and plain link of license
		section will be on their own line
	*/
	a[rel="license"] {
		display: block;
	}

	p {
		margin-top: -4px;
		margin-bottom: 0;
	}
}